.body {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle at top left, #FFFFFF, #FDFBD4);
}

.nav-top {
    text-decoration: none;
    place-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-pes {
    background-color: radial-gradient(circle at top left, #FDFBD4, #ffffff);
    color: black;
    font-size: medium;
    padding: 10px;
    cursor: pointer;
    place-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-hub {
    background-color: radial-gradient(circle at top left, #FDFBD4, #ffffff);
    color: black;
    font-size: medium;
    padding: 10px;
    cursor: pointer;
    place-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.img-car {
    width: 600px;
    height: 350px;
    margin-right: 200px;
    margin-top: 10px;
}

.img-mobil {
    width: 600px;
    height: 400px;
    margin-top: 160px;
    margin-left: 250px;

}

.contact-us {
    font-size: smaller;
}

.step-rent {
    place-content: center;
    text-align: center;
    font-size: medium;
}

.space {
    padding: 20px;
}

.logo {
    width: 45px;
    height: 45px;
}

h2 {
font-size: 28px;
margin-bottom: 5px;
}

p.subtitle {
    font-size: 16px;
    color: #444;
    margin-bottom: 30px;
}

.testimoni-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
}

.card p {
    font-style: italic;
    font-size: 15px;
    margin-bottom: 15px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.avatar {
    width: 35px;
    height: 35px;
    background: #ddd;
    border-radius: 50%;
    display: inline-block;
}

.profile-info strong {
    display: block;
}

.link {
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}